.p-Home.gradient, .p-Home.TextBox46 , .p-Home.TextBox74 , .p-Home.TextBox103, .p-Home.TextBox142
, .p-Home.TextBox145, .p-Home.TextBox31, .p-Home.TextBox39, .p-Home.TextBox112, .p-Home.TextBox186
, .p-Home.TextBox160, .p-Home.TextBox171, .p-Home.TextBox174, .p-Home.TextBox175, .p-Home.TextBox178{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox74, .p-Home.TextBox186, .p-Home.TextBox112, .p-Home.TextBox142, .p-Home.TextBox145
, .p-Home.TextBox160, .p-Home.TextBox171, .p-Home.TextBox174, .p-Home.TextBox175, .p-Home.TextBox178
, .p-Home.TextBox39, .p-Home.TextBox31
{
letter-spacing: 0.1em;
}
.p-Home.Button3,.p-Home.Button5
{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
}
.p-Home.Flex437, .p-Home.Flex278, .p-Home.Flex337, .p-Home.Flex310, .p-Home.Flex315
, .p-Home.Flex320, .p-Home.Flex336, .p-Home.Flex334, .p-Home.Flex332
, .p-Home.Flex606, .p-Home.Flex601
{
    display : none;
}

.p-Home.Image49,.p-Home.Image69{
    border-radius: 8px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
  }
*{
    text-decoration: none; 
    color: inherit;
}
 .p-Home.p-Home.TextBox46:hover:after {
    display: block;
    height: 5px;
    background:linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    content:" ";
    width: 100%;
  }